<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
      <section name="Netwatch.Cams.UI.Properties.user" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="baseUrl" value="https://51.171.177.219/mt/api/rest/v1/"/>
    <add key="userNonce" value="FO#08052002"/>
    <add key="userKey" value="1d724b6fce43957f04913a0c455bd32264df5bbd450c9819fa4492c20a95c73d" />
    <add key="login" value="administrator"/>
    <add key="password" value="Netwatch393539!"/>
    <add key="siteName" value="Test 2" />

    <add key="serviceLayer" value="http://40.112.67.173"/>
  </appSettings>
  <userSettings>
    <Netwatch.Cams.UI.Properties.user>
      <setting name="UseServiceLayer" serializeAs="String">
        <value>False</value>
      </setting>
    </Netwatch.Cams.UI.Properties.user>
  </userSettings>
</configuration>
